@font-face {
    font-family: 'PalatinoItalicRegular';
    src: url('/fonts/palatino-italic.eot');
    src: url('/fonts/palatino-italic.eot') format('embedded-opentype'),
    url('/fonts/palatino-italic.woff') format('woff'),
    url('/fonts/palatino-italic.ttf') format('truetype'),
    url('/fonts/palatino-italic.svg#PalatinoItalicRegular') format('svg');
}

html,body {
    margin: 0;
    padding: 0;
}


body {
    font: 30px 'PalatinoItalicRegular';
    line-height: 1.4em;
    /*background: #eeeeee url('../images/bg.png');*/
    color: #4d4d4d;
    /*width: 550px;*/
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

#smsapp {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    /*margin: 130px 0 40px 0;*/
    /*border: 1px solid #ccc;*/
    position: relative;
    /*border-top-left-radius: 2px;*/
    /*border-top-right-radius: 2px;*/
    /*box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),*/
    /*0 25px 50px 0 rgba(0, 0, 0, 0.15);*/
}
h1 {
    font-size:48px
}
h3 {
    font-family: 'Helvetica';
    margin: 0;
    margin-bottom: 20px;
}
.content {
    text-align: center;
}
p {
    margin:0;
}
