
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#"  xmlns:og="http://ogp.me/ns#" >
  <head>
    <meta charset="utf-8">
    <title>Cause I care</title>
    <link href="css/sms.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="SMS Bucket hello">



    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="js/underscore-1.1.6.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script src="js/init.js"></script>
    <meta property="og:title" content="Cause I care" />
    <meta property="og:url" content="http://causeicare.parseapp.com/" />
    <meta property="og:description" content="Tjek lige cause I care app’en til din smartphone. Hent den på http://causeicare.parseapp.com/ (will be the link to appstore)" />
    <meta property="og:image" content="http://causeicare.parseapp.com/images/appicon76.png" />
  </head>

  <body>

    <!-- App Interface -->

    <div id="smsapp">
      <div class="content">

      </div>
    </div>



    <!-- Templates -->

    <script type="text/template" id="step6">
        <div class="step">
            <h4>godkend hilsen</h4>
            <section style="border:1px solid black;border-radius:10px; margin: 2%; ">
                <img
                        src="http://files.parse.com/581b6a46-b7de-4210-978b-528ec65b61d3/b36ee533-d66a-466d-822b-5a7d086644f6-Lillies-flower.png" style="width: 75%"/>
                <h5 style="text-align: left;overflow: overlay;"><%= greetingText %> </h5>
            </section>

            <div class="navigation">
                <ul>
                    <li class="nextStep" data-step="5"><span><</span></li>
                    <li><span>Send</span></li>
                </ul>
                <div class="clear"></div>
                <b>Step 6 af 6</b>
            </div>
        </div>
    </script>

    <script type="text/template" id="step5">
        <div class="step">
            <h4>afsender</h4>
            <section>
                <input type="text" name="name" id="donatorName" value="<%= donatorName %>" /><br />
                <span>Navn</span><br />
                <input type="email" name="email" id="email" value="<%= email %>" /><br />
                <span>Email</span><br />
                <input type="tel" name="phone" id="phone" value="<%= phoneNumber %>"  /><br />
                <span>Telefon nummer</span> <br />
                <!--<input type="checkbox" /> <span style="margin-top: 0.6%;">Husk mig</span>-->
            </section>

            <div class="navigation">
                <ul>
                    <li class="nextStep" data-step="4"><span><</span></li>
                    <li class="nextStep" data-step="6"><span>OK</span></li>
                </ul>
                <div class="clear"></div>
                <b>Step 5 af 6</b>
            </div>
        </div>
    </script>
    <script type="text/template" id="step4">
        <div class="step">
            <h4>valg sms-donation</h4>
            <section>
                <img src="./images/img_red_cross.png" style="width: 17%;"/>
            </section>
            <ul class="kr-select">
                <li data-donation="25"><span>25 kr</span></li>
                <li data-donation="50"><span>50 kr</span></li>
                <li data-donation="75"><span>75 kr</span></li>
                <li data-donation="100"><span>100 kr</span></li>
            </ul>
            <div class="navigation">
                <ul>
                    <li id="backToApp"><span><</span></li>
                    <li class="nextStep" data-step="5"><span>OK</span></li>
                </ul>
                <div class="clear"></div>
                <b>Step 4 af 6</b>
            </div>
        </div>
    </script>

    <script type="text/template" id="login-template">
      <header id="header"></header>
      <div class="login">
        <h3>Enter your hash code for view SMS</h3>
      </div>
    </script>

    <script type="text/template" id="smsblock">
        <img src="http://files.parse.com/581b6a46-b7de-4210-978b-528ec65b61d3/b36ee533-d66a-466d-822b-5a7d086644f6-Lillies-flower.png" width="350"/>
        <h3>Hello</h3>
        <p>
            <img src="http://causeicare.parseapp.com/images/exclamation-mark.png" /> <br />
            Afsender har med denne hilsen valgt at give et bidrag til Røde Kors
        </p> <br />
        <p class="helvetic">
            <a href="#" onclick="fbShare();"><img src="http://causeicare.parseapp.com/images/fb-button.png" /></a> <br /> <br />
            <img src="http://causeicare.parseapp.com/images/appicon.png" /><br />
            Tryk på linket og hent selv cause I care app’en.
        </p>
    </script>
    <script type="text/template" id="smsblockerror">
        <h2><%= error %></h2>
    </script>
    <script type="text/template" id="confirmblock">
        <p style="padding-top:50px;">
            Tak for dit bidrag<br /> på <%= donation %> Kr. til Røde Kors. <br /><br />
            Med venlig hilsen.<br /><br />
            <img src="/images/exclamation-mark.png" /><br /><br />
            <a href="#" onclick="fbShare();"><img src="/images/fb-button.png" /></a>
        </p>
    </script>
    <script type="text/template" id="confirmblockerror">
        <h2 style="padding-left: 50px;"><%= error %></h2>
    </script>
    <script>
        function fbShare() {
            window.open("http://www.facebook.com/sharer.php?u=http://causeicare.parseapp.com/","displayWindow","width=520,height=300,left=350,top=170,status=no,toolbar=no,menubar=no");
        }

    </script>
  </body>

</html>
